<div class="container">
  <form class="technical-review-form" action="#" formGroup="form">
  <div class="text_part">
    <h2 class="text_part__title">Please describe the candidate <b class="text_part__title__blue">Name Surname</b></h2>
    <hr class="text_part__line">
    <app-textarea
      [placeholder]="'Type here...'"
      [readonly]="false"
      [parentForm]="form"
    ></app-textarea>
  </div>
  <div class="buttons_part">
    <app-approve-reject-button [text]="'Approve'" [bgcolor]="'#2EA3F2'" [parentForm]="form"></app-approve-reject-button>
    <app-approve-reject-button [text]="'Reject'"  [bgcolor]="'#F22E2E'" [parentForm]="form"></app-approve-reject-button>
  </div>
  </form>
</div>
