@import "src/styles";
.container{
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.text_part{

  display: flex;

  flex-direction: column;
  &__title{
    padding: 5vh 0 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    flex-direction: row;
    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 46px
    }

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 24px
    }

    &__blue{
      font-style: normal;
      font-weight: normal;
      color: $main_blue;
    }
  }
}

hr{
  margin: 5px 0 4% 0;
  color: $main_blue;
}
app-textarea{


}
.buttons_part{
  margin: 1% 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  &__approve{

  }
  &__reject{

  }
}
