<div
  class="post"
  [ngClass]="{
    post_white: !isGray,
    post_gray: isGray
  }">
  <div class="post__content">
    <h3 class="post__title">{{ post.title }}</h3>
    <p class="post__tags">
      <span *ngFor="let tag of post.tags">
        #{{ tag }}&nbsp;
      </span>
    </p>
    <p class="post__description">{{ post.description }}</p>
    <div class="post__additional">
      <button class="post__btn" (click)="goToPostPage()">More details</button>
      <p class="post__date">{{ post.date }}</p>
    </div>
  </div>
  <img class="post__image" src="{{post.imageUrl}}" alt="technology image">
</div>
