@import "src/styles";

.join-form {
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;

    &-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 10.6%;
        padding-right: 18.7%;
    }

    &-contacts {
        margin-top: 46px;
        display: flex;
        flex-direction: column;


        &-row-select {
            position: relative;
        }

    }

    &-CV {
        display: flex;
        align-items: center;
        margin-top: 7px;
        margin-bottom: 61px;

        &-icon {
            position: relative;
        }

        &-upload {
            padding-left: 44px;
        }

    }


    &-interview {
        display: flex;
        flex-direction: column;
    }

    &-timetable {
        display: flex;
        flex-direction: column;
        align-items:space-between;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 37px;
    }

    &-agree, &-notification {
        margin-top: 26px;
        display: flex;
        align-items: center;

        & div {
            display: flex;
        }
    }

    &-submit {
        margin-bottom: 74px;
        display: flex;
        width: 40.6%;
    }

}

h2 {
    padding-left: 7px;
    margin: 0px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main_blue;
}

span {
    font-size: 18px;
    line-height: 27px;
    color: black;

    &.agree:after {
        content: '*';
        top: -4%;
        left:1%;
        position: relative;
        color: red;
    }

    &.drop label {
        color: $main_blue;
    }


}


input {
    &[type=file] {
        opacity: 0;
        position: absolute;
        z-index: -10;
    }

    &[type=file] label:hover {
        cursor: pointer;
    }

    &[type=submit] {
        margin-top: 61px;
        width: 559px;
        height: 78px;
        text-align: center;
        background: $main_blue;
        border: 1px solid $main_blue;
        box-shadow: 0 0 5px $input_shadow;
        border-top-left-radius: 100px;
        border-bottom-left-radius: none;
        border-top-right-radius: none;
        border-bottom-right-radius: 100px;
        outline: none;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-indent: 0px;
        color: white;

        &:hover {
            background-color: white;
            fill: $main_blue;
            color: $main_blue;
            transition: all ease 0.3s;
            box-shadow: 0 0 5px $main_blue;
            cursor: pointer;
        }

        &:active {
            box-shadow: 0 0 5px white;
            transform: translateY(3px);
        }
    }

}

img.oval {
    max-width: 100%;
    border-radius: 40px;
    width: 134.55px;
    height: auto;
}


img.arrow, img.line {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index:5;
    left: 50%;
    top:50%;
    margin-right: -50%;
}

img.arrow {
    width:26px;
    transform: translate(-50%, -90%);
}




img.line{
    width:50px;
    transform: translate(-50%, -10%);
}


.switch {
    margin-right: 42px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: 34px;
    }

    &.slider.round:before {
      border-radius: 50%;
    }

}

input:checked + .slider {
  background-color: $main_blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main_blue;
}

input:checked + .slider:before {

    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

@media (min-width: 900px) {

    .join-form-contacts-row {
        display: flex;
        flex-direction: row;
        align-items:start;


        &-input {
            justify-self: flex-start;
            width:66%;
            position: relative;
        }

        &-select {
            margin-left: 18px;
            justify-self: flex-end;
            width:32.6%;
            position: relative;
        }

    }

}


@media (max-width: 900px) {
    img.oval {
        width:100px;
    }

    .join-form-timetable {
        margin-bottom: 0px;
    }
}


@media (max-width:700px){
    .join-form-submit {
        width: 60%;
    }

    .join-form-agree span, .join-form-notification span {
        font-size: 14px;
        line-height:18px;
    }

    .switch {
        margin-right: 20px;
        width: 30px;
        height: 16px;
    }

    .slider:before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            left: 3px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;

            &.round {
                border-radius: 24px;
            }
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(90%);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
    }

}


@media (max-width:550px){

    .join-form-CV {
        flex-direction: column;

        &-upload{
            padding-left: 0px;
        }
    }

    img.oval {
         width:100px;
    }

}


@media (max-width:900px){
    input[type=submit]{
         height:55px;
    }

}

