$additional-color: #2EA3F2;

.additional{
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;

  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.additional-info{
  display: block;
  margin: 80px 353px;

  width: 900px;
  left: 353px;
  top: 824px;


  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #000000;

  b{
    color: $additional-color;
    font-weight: 800;
  }

  div{
  margin-bottom: 1em;
  }
}
