.hr-review-form {
  margin: 0 auto;
  width: 1000px;
}

.english-levels {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.approve-reject-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
