<form
  class="hr-review-form"
  action="#"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Interviewer full name:'"
      [name]="'Sergey Danchenko'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Candidate full name:'"
      [name]="'Sergey Danchenko'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Interview date:'"
      [name]="'20-10-1995'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Interview time:'"
      [name]="'14:00'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Please describe the candidate'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="textarea-wrapper">
    <app-textarea
      [parentForm]="form"
      [controlName]="'review'"
      [placeholder]="'Type here...'"
      [readonly]="false"
    ></app-textarea>
  </div>
  <div class="title-wrapper">
    <app-section-header
      [header_text]="'Please rate the level of English of the candidate'"
      [is_button]="false"
    ></app-section-header>
  </div>
  <div class="english-levels">
    <app-rate-btn
      [items]="englishLevels"
      [parentForm]="form"
      [controlName]="'englishLevel'"
    ></app-rate-btn>
  </div>
  <div class="approve-reject-buttons">
    <app-approve-reject-button
      [text]="'Approve'"
      [bgcolor]="'#2EA3F2'"
      [parentForm]="form"
      [isApproveBtn]="true"
      [controlName]="'isApprove'"
      (noApproveReject)="setInterviewResult($event)"
    ></app-approve-reject-button>
    <app-approve-reject-button
      [text]="'Reject'"
      [bgcolor]="'#F22E2E'"
      [parentForm]="form"
      [isApproveBtn]="false"
      [controlName]="'isApprove'"
      (noApproveReject)="setInterviewResult($event)"
    ></app-approve-reject-button>
  </div>
</form>

