<app-home-button></app-home-button>
<app-internship-card
  [post]="post"
  [isGray]="false"
  [isBtnPresent]="false"
></app-internship-card>
<app-additional-information [additionalInfoInternship]="post?.additionalInfoInternship"></app-additional-information>

<app-join-form *ngIf="!started; else finished" [id]="post?.id"></app-join-form>
<ng-template #finished class="finished">
  <p [ngStyle]="{color:'#2EA3F2', textAlign: 'center', fontSize: '20px'}">The registration on {{post.title}} has already closed</p>
</ng-template>
