@import "src/styles";

.choose-date-input {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
}
.filter {
  margin: 0 1% 0 0;
  min-width: 40%;
}
div {
  min-width: 15%;
}
.save_btn {
  min-width: 100%;
  min-height: 70%;
  background-color: $light_grey;
  color: $main_blue;
  border: $btn_border;
  border-radius: 100px 0px 100px 0px;
  font-family: Poppins;
  cursor: pointer;
  box-shadow: $btn_shadow_hover;
  white-space: nowrap;
}
.save_btn:hover {
  background-color: $main_blue;
  color: white;
  transition: all ease 0.3s;
}
.save_btn:active {
  box-shadow: $btn_shadow_active;
  transform: translateY(3px);
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $main_blue !important;
}
.success_msg,
.error_msg {
  font-size: 18px;
  padding: 1% 0;
  color: green;
}
.error_msg {
  color: red;
}
@media (max-width: 699px) {
  .choose-date-input {
    display: block;
  }
  .filter {
    min-width: 100%;
  }
  .save_btn {
    min-width: 40%;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .choose-date-input {
    display: block;
  }
  .filter {
    min-width: 100%;
  }
  .save_btn {
    min-width: 20%;
  }
}
