@import "src/styles";

.choose-date-input {
  display: flex;
}

input[type="datetime-local"] {
  width: 100%;
  height: 70px;
  background: white;
  border: $input_border;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 24px;
  line-height: 36px;
  text-indent: 5%;
  outline: none;
  display: flex;
  align-items: center;
  color: #d1d1d1;

  &:focus {
    transition: all ease 0.3s;
    border: 3px solid $main_blue;
  }
  &:valid {
    color: $main_blue;
  }
}
@media (max-width: 699px) {
  input[type="datetime-local"] {
    height: 40px;
    font-size: 14px;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  input[type="datetime-local"] {
    height: 50px;
    font-size: 18px;
  }
}
