<div class='choose-date-input'>
    <mat-form-field class="filter">
        <mat-select placeholder="Interviewer" (selectionChange)="changeInterviewer($event)">
            <mat-option *ngFor="let interviewer of interviewers" [value]=interviewer>
            {{interviewer.name+' '+interviewer.surname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="filter">
        <mat-select placeholder="Date" (selectionChange)="changeDate($event)">
            <mat-option *ngFor="let date of interviewer?.dates" [value]=date>
            {{date}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="btn_div"><button class='save_btn' (click)=saveInterviewDate()>Save date</button></div>
</div>
