@import "/src/styles";

.translate_div {
  position: absolute;
  top: 3%;
  left: 95%;
}
.trans_btn {
  background-color: $main_blue;
  color: white;
  border: $btn_border;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
}
.trans_btn,
.trans_btn:active,
.trans_btn:focus {
  outline: none;
}
.trans_btn:hover {
  background-color: white;
  color: $main_blue;
  transition: all ease 0.3s;
  box-shadow: $btn_shadow_hover;
}
.trans_btn:active {
  box-shadow: $btn_shadow_active;
  transform: translateY(3px);
}
@media (max-width: 699px) {
  .translate_div {
    top: 0%;
    left: 90%;
  }
  .trans_btn {
    font-size: 10px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .translate_div {
    top: 3%;
    left: 90%;
  }
}
