$bg_main_color: white;
$btn_bg: #2ea3f2;
$btn_border: 1px solid #2ea3f2;
$btn_shadow: 0 0 5px rgba(0, 0, 0, 0.5);
$btn_shadow_hover: 0 0 5px #2ea3f2;
$btn_shadow_active: 0 0 5px white;
$btn_icon_color: white;
$btn_bg_hover_color: white;
$btn_icon_hover: #2ea3f2;

.post {
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;

  &_white {
    background-color: #fff;
  }

  &_gray {
    background-color: #EBEBEB;
  }

  &__wrapper {
    width: 1165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 591px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 30px;
  }

  &__tags {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
    color: #2EA3F2;
  }

  &__location {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 6px;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  &__additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none;
  }


  &__date {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2EA3F2;
  }

  &__image {
    width: 440px;
  }

    &__btn{
    width: 277px;
    height: 45px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: #2EA3F2;
    color: $btn_icon_color;border: $btn_border;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  }
    &__btn:hover {
      fill: #2ea3f2;
      background-color: $btn_bg_hover_color;
      color: $btn_icon_hover;
      transition: all ease 0.3s;
      box-shadow: $btn_shadow_hover;
    }

  &__btn:active {
      box-shadow: $btn_shadow_active;
      transform: translateY(3px);
    }
  &__btn,
  &__btn:active,
  &__btn:focus {
    outline: none;
  }
  }

@media (max-width: 1259px) {
  .post {
    height: 680px;

    &__wrapper {
      width: 600px;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    &__image {
      width: 340px;
      margin-bottom: 30px;
    }
  }
}


@media (max-width: 699px) {
 .post {

   &__wrapper {
     width: 300px;
   }

   &__title {
     font-size: 25px;
     line-height: 30px;
     margin-bottom: 5px;
   }

   &__tags {
     font-size: 18px;
   }

   &__description {
     margin-bottom: 10px;
   }

   &__image {
    width: 250px;
   }

   &__additional {
     flex-wrap: wrap-reverse;
   }

   &__date {
     margin-bottom: 15px;
   }

   &__btn {
     margin-left: 10px;
   }
 }
}
