@import "/src/styles";

.text_div {
  font-size: 24px;
  color: black;
  font-family: Poppins;
  border-bottom: 1px solid black;
  padding-top: 3vh;
}
.type_name {
  font-size: 48px;
  color: $main_blue;
  padding-top: 0;
  margin-top: -2vh;
}
.type_status {
  color: $main_blue;
}
.type_link a {
  text-decoration: none;
  color: $main_blue;
}
@media (max-width: 699px) {
  .text_div {
    font-size: 14px;
  }
  .type_name {
    font-size: 24px;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .text_div {
    font-size: 24px;
  }
  .type_name {
    font-size: 36px;
  }
}
