.text_div {
  font-size: 24px;
  color: black;
  font-family: Poppins;
  border-bottom: 1px solid black;
  width: 50%;
  padding-top: 2%;
}
.type_name {
  font-size: 36px;
  color: #2ea3f2;
}
.type_status {
  color: #2ea3f2;
}
.type_link a {
  text-decoration: none;
  color: #2ea3f2;
}
