@import "/src/styles";

nav {
  outline: 3px $border_color;
  border: 3px solid $border_color;
  border-radius: 50px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav p {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.4s ease-in-out;
  width: 16vw;
}
.menu_div {
  padding: 2vh 15vw;
}
.top_menu {
  text-align: center;
}
.top_menu > li {
  display: inline-block;
  position: relative;
  border-left: 2px solid $border_color;
}
.top_menu > li:first-child {
  border: none;
}
.top_menu > li > p {
  padding: 1vw 3vw;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Poppins;
  font-size: 1vw;
}
.top_menu > li:after {
  position: absolute;
  content: "\25BC";
  left: 9vw;
  width: 10vw;
  top: 1vw;
  color: $main_blue;
}
app-navigation-tag {
  position: absolute;
  left: 50%;
  width: 100%;
  background: white;
  border: 1px solid $lighter_grey;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  li {
    padding: 5px 0;
  }
}
.top_menu > li > p:hover {
  cursor: pointer;
  color: $main_blue;
}
.top_menu > li:hover app-navigation-tag {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.not_found {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  color: $main_blue;
}

@media (max-width: 699px) {
  .menu_div {
    padding: 2vh 1vw;
  }
  nav p {
    width: 37vw;
  }
  .top_menu > li > p {
    font-size: 3vw;
  }
  .top_menu > li:after {
    left: 33vw;
    font-size: 14px;
  }
  .top_menu > li:first-child,
  .top_menu > li:nth-child(3) {
    border: none;
  }
  .top_menu > li:first-child:after,
  .top_menu > li:nth-child(3):after {
    left: 25vw;
  }
}

@media (min-width: 700px) and (max-width: 1405px) {
  .menu_div {
    padding: 2vh 4vw;
  }
  nav p {
    width: 22vw;
  }
  .top_menu > li > p {
    font-size: 1.5vw;
  }
  .top_menu > li:after {
    left: 15vw;
  }
}
