<div class="menu_div">
    <nav>
        <ul class="top_menu">
            <li><p>{{'MAIN_PAIGE.FILTERS.Location' | translate}}</p>
                <app-navigation-tag ></app-navigation-tag>
            </li>
            <li><p>{{'MAIN_PAIGE.FILTERS.Technology' | translate}}</p>
              <app-navigation-tag></app-navigation-tag>
            </li>
            <li><p>{{'MAIN_PAIGE.FILTERS.Event_type' | translate}}</p>
              <app-navigation-tag></app-navigation-tag>
            </li>
            <li><p>{{'MAIN_PAIGE.FILTERS.Internship_status' | translate}}</p>
              <app-navigation-tag></app-navigation-tag>
            </li>
        </ul>
    </nav>
</div>
