.approve_btn{
  width: 270px;
  height: 65px;
  border: none;
  border-radius: 100px 0 100px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));

  margin-top: 40px;
  background: white;
}

@media (max-width: 1200px) {
  .approve_btn{
    width: 170px;
    height: 45px;
  }
}
@media (max-width: 700px) {
  .approve_btn{
    width: 120px;
    height: 25px;
  }
}
.approve_btn:hover{
  cursor: pointer;
}

.approve_btn,
.approve_btn:active,
.approve_btn:focus,
.approve_btn:after{
  outline: none;
}
