@import "/src/styles";

.content {
  margin: 0 auto;
  max-width: 1000px;

  .title-wrapper {
    margin: 60px 0;
  }

  .row-input-wrapper {
    display: flex;
    justify-content: space-between;

    .input-wrapper {
      width: 49%;
    }
  }

  .date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-wrapper {
      width: 80%;
    }

    .add-btn {
      margin-bottom: 22px;
      width: 190px;
      height: 45px;
      font-family: Poppins;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      background-color: $main_blue;
      color: white;
      border: $btn_border;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
      outline: none;

      &:hover {
        fill: $main_blue;
        background-color: white;
        color: $main_blue;
        transition: all ease 0.3s;
        box-shadow: $btn_shadow_hover;
      }

      &:active {
        box-shadow: $btn_shadow_active;
        transform: translateY(3px);
      }
    }
  }

  .interviewer-type {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;

    .type-btn {
      display: inline-block;

      input[type=radio] {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        cursor: pointer;
        user-select: none;
        filter: drop-shadow(2px 4px 4px $border_color);
        box-shadow: 0px 4px 4px $border_color;
        background-color: $dark_grey;
        font-family: Poppins;
        font-size: 24px;
        border-radius: 20px;
        transition: .3s;

        @media (max-width: 1200px) {
          width: 70px;
          height: 70px;
          font-size: 18px;
          border-radius: 15px;
        }

        @media (max-width: 700px) {
          width: 50px;
          height: 50px;
          font-size: 12px;
          border-radius: 12px;
        }

        @media (max-width: 399px) {
          width: 40px;
          height: 40px;
          font-size: 12px;
          border-radius: 12px;
        }
      }

      input[type=radio]:checked + label {
        background-color: $main_blue;
        color: white;
      }
    }
  }

  .subjects {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 25px;

    .subject {
      border: 3px solid rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      font-size: 20px;
      padding: 10px;
      margin: 5px 5px;
      user-select: none;

      &_picked {
        background-color: #2EA3F2;
        color: #fff;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .selected-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .selected-date-wrapper {
      min-width: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 3px solid rgba(0, 0, 0, 0.15);
      border-radius: 22px;
      padding: 10px;
      margin-bottom: 20px;

      .selected-date {
        font-size: 30px;
      }

      .delete-btn {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        overflow: hidden;

        &:hover {
          cursor: pointer;
        }

        &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background: #D1D1D1;
          border-radius: 5px;
          height: 12px;
          margin-top: -6px;
          transform: rotate(45deg);
          transition: all .3s;
        }

        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background: #D1D1D1;
          transform: rotate(-45deg);
          height: 12px;
          margin-top: -6px;
          border-radius: 5px;
          transition: all .3s;
        }

        &:hover:after {
          background-color: red;
        }

        &:hover:before {
          background-color: red;
        }
      }
    }
  }

  .submit-btn-wrapper {
    margin: 30px 0 50px 0;
  }
}

@media (max-width: 1052px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .content {

    .row-input-wrapper {
      display: block;

      .input-wrapper {
        width: 100%;
      }
    }
  }
}

