.approve_btn{
  width: 270px;
  height: 80px;
  border: none;
  border-radius: 100px 0 100px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));

  margin-top: 40px;
  background: white;
}

.approve_btn:hover{
  cursor: pointer;
}

.approve_btn,
.approve_btn:active,
.approve_btn:focus,
.approve_btn:after{
  outline: none;
}
