<div>
  <nav>
    <ul>
      <li><a routerLink="/admin/table"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'ADMIN_NAVIGATION.Students' | translate}}</a>
      </li>
      <li><a routerLink="/admin/interviewers"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'ADMIN_NAVIGATION.Interviewers' | translate}}</a>
      </li>
       <li><a routerLink="/admin/post-table" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">{{'ADMIN_NAVIGATION.PostControl' | translate}}</a>
       </li>
      <li><a routerLink="/admin/addInterviewer"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'ADMIN_NAVIGATION.Add new interviewer' | translate}}</a>
      </li>
      <li><a routerLink="/admin/creation"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">{{'ADMIN_NAVIGATION.Add new event' | translate}}</a>
      </li>
    </ul>
  </nav>
</div>







