$bg_color: #ffffff;
$bg_hover_color: #2ea3f2;
$default_link_color: black;
$link_hover_color: #2ea3f2;
$sub_menu_bg_color: #fafafa;
$sub_menu_border_color: #ededed;
$sub_menu_link_hover_color: white;
$border_color: rgba(0,0,0,0.25);

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  padding: 5px 0;
}

li > p {
  padding: 1vw 3vw;
  color: $default_link_color;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Poppins;
  font-size: 0.8vw;
}
.sub_menu label {
  font-family: Poppins;
  letter-spacing: 1px;
  line-height: 30px;
  color: $default_link_color;
  transition: 0.3s linear;
}
.sub_menu li a:hover {
  background: $bg_hover_color;
  color: $sub_menu_link_hover_color;
}
li input[type="checkbox"]:checked + #word_opts {
  color: $bg_hover_color;

}
