@import "/src/styles";
.stud-info-container,
.interviews-container {
  padding: 5vh 20vw;
}
.stud-info,
.cv-container,
.chose-date,
.textarea-div,
.english-level-header,
.english-rate-container,
.buttons-container {
  padding: 2.5vh 0;
}
.chose-hr-date-header,
.chose-tech-date-header {
  padding: 0 0 2.5vh 0;
}
.english-rate-container,
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.action-btns {
  display: flex;
  justify-content: row;
}
.success_msg,
.error_msg {
  font-size: 28px;
  padding: 1% 0;
  color: green;
}
.error_msg {
  color: red;
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 65px;
  border: none;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  background: $dark_grey;
  margin: 4% 2% 2% 0;
}
.delete-btn:hover {
  filter: drop-shadow(2px 4px 4px red);
  background: red;
  transition: all ease 0.3s;
}
.history_btn:hover {
  filter: drop-shadow(2px 4px 4px $main_blue);
  background: $main_blue;
}
@media (max-width: 699px) {
  .stud-info-container,
  .interviews-container {
    padding: 4vh 2vw;
  }
  .stud-info,
  .cv-container,
  .chose-date,
  .textarea-div,
  .english-level-header,
  .english-rate-container,
  .buttons-container {
    padding: 2vh 0;
  }
  .chose-hr-date-header,
  .chose-tech-date-header {
    padding: 0 0 2vh 0;
  }
  .delete-btn {
    width: 120px;
    height: 25px;
    font-size: 12px;
    line-height: 18px;
    margin: 3% 1% 1% 0;
  }
  .success_msg,
  .error_msg {
    font-size: 14px;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .stud-info-container,
  .interviews-container {
    padding: 5vh 10vw;
  }
  .stud-info,
  .cv-container,
  .chose-date,
  .textarea-div,
  .english-level-header,
  .english-rate-container,
  .buttons-container {
    padding: 2.5vh 0;
  }
  .chose-hr-date-header,
  .chose-tech-date-header {
    padding: 0 0 2.5vh 0;
  }
  .delete-btn {
    width: 170px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }
  .success_msg,
  .error_msg {
    font-size: 20px;
  }
}
