@import "src/styles";

span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 49px;
}

.post-creation {
  margin: 0 auto;

  &-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;

    h2 {
      font-size: 36px;
      line-height: 54px;
      margin-top: 1.5em;
    }

    h3 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 2em;
    }

    b {
      color: red;
    }

    hr {
      height: 1px;
      color: $main_blue;
      background: $main_blue;
      border: none;
      margin-bottom: 2em;
    }
    .subheading {
      margin-bottom: 0;
    }
  }
  &-image {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 61px;

    &-upload {
      padding-left: 44px;
      font-size: 24px;
      font-weight: 500;
      &::after {
        position: relative;
        content: "*";
        top: 0px;
        color: red;
        font-size: 22px;
      }
      input {
        position: absolute;
        z-index: -10;
        opacity: 0;
      }
      label {
        color: $main_blue;
      }
    }

    &-icon {
      position: relative;
    }
  }

  &-inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    div {
      width: 49%;
    }
  }
  &-date {
    &-row {
      margin: 1.5em auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        width: 49%;
      }
      span {
        font-size: 24px;
      }
    }
    input {
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 100px;
      outline: none;
      text-indent: 30px;
      font-size: 20px;
      line-height: 27px;

      &::placeholder {
        color: #d1d1d1;
      }

      &.ng-invalid.ng-touched.ng-dirty,
      &.ng-invalid.ng-touched.ng-pristine {
        border: 2px solid red;
      }

      &.ng-valid.ng-touched.ng-dirty,
      &.ng-valid.ng-touched.ng-pristine {
        border: 2px solid $main_blue;
      }
      &::after {
        position: relative;
        content: "*";
        top: -10px;
        right: 15px;
        color: red;
        font-size: 22px;
      }
    }
  }
  &-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 65px;
    border: none;
    border-radius: 100px 0 100px 0;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
    background: $main_blue;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &-alert {
    font-size: 23px;
    color: #2ea3f2;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &-danger {
    font-size: 23px;
    color: red;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
form {
  padding-bottom: 2em;
}

.split {
  height: 1.5em;
}

.important-color {
  color: black !important;
}

.creation-select {
  color: $main_grey;
  margin-bottom: 22px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background: white;
  border: $input_border;
  border-radius: 100px;
  outline: none;
  text-indent: 30px;
  font-size: 18px;
  line-height: 27px;

  &.ng-invalid.ng-touched.ng-dirty,
  &.ng-invalid.ng-touched.ng-pristine {
    border: 2px solid red;
  }
}

@media (max-width: 1000px) {
  .creation-select {
    height: 55px;
  }
  .post-creation-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 700px) {
  .creation-select {
    height: 50px;
  }
  .post-creation-image-upload {
    padding-left: 0px;
  }
  .post-creation-image {
    flex-direction: column;
  }
  .post-creation-wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
  span,
  .post-creation-date span {
    font-size: 18px;
  }
  .post-creation-date input {
    height: 40px;
    font-size: 15px;
  }
  .post-creation-image-icon svg {
    width: 100px;
    height: 70px;
  }
  .post-creation-wrapper h2 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .creation-select {
    height: 45px;
  }
  .post-creation-date span,
  span {
    font-size: 14px;
  }
}
