$bg_main_color: white;
$btn_bg: #2ea3f2;
$btn_border_color: #2ea3f2;
$btn_icon_color: white;
$btn_bg_hover_color: white;
$btn_icon_hover: #2ea3f2;

.home {
  background-color: $bg_main_color;
  padding: 2vh 2vw;
}
.home_page_button,
.home_page_button:active,
.home_page_button:focus {
  outline: none;
}
.home_page_button {
  width: 13vw;
  background-color: $btn_bg;
  color: $btn_icon_color;
  border: 1px solid $btn_border_color;
  border-radius: 100px 0px 100px 0px;
  padding: 0.5% 2%;
  font-family: Poppins;
  font-size: 100%;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home_icon {
  fill: $btn_icon_color;
  left: 11vw;
  top: 1.6vw;
  position: absolute;
  pointer-events: none;
}
.home_page_button:hover {
  fill: #2ea3f2;
  background-color: $btn_bg_hover_color;
  color: $btn_icon_hover;
  transition: all ease 0.3s;
  box-shadow: 0 0 5px $btn_border_color;
}
.home_page_button:hover + .home_icon {
  fill: #2ea3f2;
  transition: all ease 0.3s;
}
.home_page_button:active,
.home_page_button:active + .home_icon {
  box-shadow: 0 0 5px $bg_main_color;
  transform: translateY(3px);
}
