select {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.15);
    outline: none;
    border-radius: 100px;
    text-indent: 30px;
    font-size: 20px;
    line-height: 27px;
    color: #D1D1D1;
}


div::after {
    position: absolute;
    content: "*";
    top: -2%;
    right: 2%;
    color: red;
    font-size: 22px;
}




@media (max-width: 900px) {
    select {
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    select {
        margin-bottom: 40px;
    }
}



