select {
    width: 32.6%;
    height: 70px;
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    outline: none;
    border-radius: 100px;
    text-indent: 55px;
    font-size: 36px;
    line-height: 49px;
    color: #D1D1D1; 
    transform: scale(0.8);
    transition: 0.4s ease-in-out;
    
    &:valid {
        color: black;
    }

    &::after {
        position: relative;
        top: -10%;
        right: 30%;
        color: red;
        content: '*';
    }

//     option {
//         border-left: 1px solid black;
//         
//     }
}


span.star {
    position: relative;
    top: -10%;
    right: 6%;
    color: red;
    font-size: 20px;
}